[2020-04-08 08:23] constantinpape opened #1 "Alternative tools and deployment"
It would of course be good if we could just use an existing framework for processing high throughput screening data if we want to deploy this somewhere.
I don't have much experience in this area, so I didn't know what to use and cooked this solution up and I think this is fine for our development purposes.

If we want to actually deploy this, we would need something stable though, so
- either find

[2020-04-08 08:24] constantinpape opened #2 "Logging"
Support proper python logging to monitor / debug runs.

[2020-04-08 08:25] constantinpape opened #3 "Monitoring / Dashboard"
Add a monitoring solution, e.g. Dashboard for convenient monitoring of multiple workflows running.

[2020-04-08 10:10] Tomaz-Vieira opened #4 "FileLock racing issues"
I see that you have your own implementation of FileLock instead of using the native `fcntl.lockf`. I believe the current implementation is racy:

[code]

`fcntl.lockf` will have the kernel ensure thread-safety for you, but I think it's limited to posix and I'm also not sure if it's supported in distributed filesystems like the typical GPFS's we find in clusters.

[2020-04-08 10:20] constantinpape commented on #4
Thanks for catching this!
I will see if I can change to `fcntl.lockf` easily.

[2020-04-08 13:03] Tomaz-Vieira opened #5 "Architecture suggestion - explicit constructors, separate the notion of runner from job specification"
We are doing something similar in [cloud-ilastik](https://github.com/ilastik/cloud_ilastik/blob/master/hpc/job.py), in the sense that we are specifying jobs, running them, and collecting their outputs. I would say it's healthy to split the concepts of a job specification (lets call it `JobSpec` here) from the concept of a job runner.

Right now, those two ideas are merged into the class `BatchJob`

[2020-04-09 05:30] constantinpape commented on #4
Ok, I had a bit closer look and I think I can do the following:

I need the pattern
[code]
that delays starting the code in the with stating until the lock is released.
I couldn't find `__enter__` or `__exit__` methods for `lockf` (which just wraps a system call I guess),
so I cannot use it directly.

I could use it in the `FileLock` implementation though. `lockf` throws an `OSError` if the lock f

[2020-04-09 05:34] constantinpape commented on #4
Interesting, look what I found :D
https://github.com/ilastik/lazyflow/blob/master/lazyflow/utility/fileLock.py

[2020-04-09 05:39] constantinpape commented on #4
This does more or less the same thing as I did though and unlinks the lock:
https://github.com/ilastik/lazyflow/blob/master/lazyflow/utility/fileLock.py#L162
So I am not sure if it removes the racyness.

Also, `lockf` is only posix and doesn't work for some distributed filesystems (I actually investigated this on the c/c++ side a while ago for z5), so I don't think it's a good solution.

[2020-04-09 05:55] constantinpape commented on #5
Thanks for looking into this. I agree with the issues in the current design.
I think what you propose makes sense, but haven't fully grasped it yet.

For our current use cases, the design issues are not a big problem, because I have added almost all Jobs we will need already and the number of job classes is so small that I can just manually add runners for a new target.

If we ever should decide t

[2020-04-09 07:24] Tomaz-Vieira commented on #4
Aha, nice findings there! So, it's almost the same as what you're doing, but it does the create_if_there_is_no_file in a single shot, since (at least on linux)  `open()` is guaranteed to be atomic. I'm still not sure if this is guaranteed on GPFS, but it already looks better than `lockf`, indeed =)

[2020-04-10 00:31] constantinpape commented on #4
switched to lazyflow impl, thanks for raising this!

[2020-04-10 00:31] #4 closed

[2020-04-10 08:28] constantinpape opened #8 "Add config file for workflow scripts"
The kwargs passed to the scripts should be refactored into a config file, so that the runs are easier to configure and more reproducible.

See https://github.com/hci-unihd/batchlib/blob/master/antibodies/instance_analysis_workflow2.py#L18-L21

For the args, I would do the following: put them in the config as well, but enable over-riding them via argparse.

[2020-04-10 08:29] constantinpape commented on #8
Oh, either json or yaml I wold say.

[2020-04-10 16:52] constantinpape opened #11 "Don't hard code viewer settings"
The viewer settings are currently just hard-coded in all the jobs, e.g.
https://github.com/hci-unihd/batchlib/blob/master/batchlib/segmentation/torch_prediction.py#L77

Instead, this should be parameters for the keys, with sensible defaults for the image dtype.

Also, @tischi can support some additional keys on the file level to display the scores associated with the image / well via something lik

[2020-04-11 16:26] constantinpape opened #13 "Pytorch prediction runs immediately out of memory"
Sometimes the pytorch prediction does not start because the gpu is still fully allocated.
My best guess is that stardist prediction / tensorflow does not free the gpu after the session closes
(And it allocates ALL memory, see https://github.com/mpicbg-csbd/stardist/issues/44).

If this hypothesis is true, this issue should just go away once we run all workflows in the same folder
(because then we

[2020-04-11 16:56] constantinpape opened #14 "Add files we need for workflows to this repository"
I think it would be good if we could add all necessary files to run the workflows to
this repository, so that it is standalone.

What we would need:
- [x]  the barrel correction file: I don't see an issue adding this
- [x] the pytorch model: I don't see an issue adding this
- [x] the stardist model: In principle no issue to add it, but we should check with @maweigert that this is ok (of course giv

[2020-04-12 17:21] tischi opened #15 "Site Name"
@constantinpape

I am adding a new column to the table called `site-name`

![image](https://user-images.githubusercontent.com/2157566/79075337-8ac02700-7cf2-11ea-847b-0e58e4979360.png)

I construct this from the image name in the table. I need this for the communication of the table view and the image view. It is like the `label` column in the PlatyBrowser. So if you could add this column already

[2020-04-12 17:48] constantinpape commented on #15
Sounds good, I will add it.

[2020-04-14 21:26] constantinpape commented on #13
Indeed, this was the tensorflow / stardist problem.

[2020-04-14 21:26] constantinpape commented on #11
Fixed in #19

[2020-04-14 21:26] #11 closed

[2020-04-14 21:27] constantinpape commented on #8
Implemented in #16 thanks to @Steffen-Wolf

[2020-04-14 21:27] #8 closed

[2020-04-14 21:32] constantinpape commented on #5
@Tomaz-Vieira
I have realized that we don't need the fancyness to run on different targets here; can just use the usual
`sbatch ...` mechanism to run a full experiment via slurm. Experiments take <~ 1hr so there is no need to parallelize on an even more fine-grained level on slurm.

Anyway, I am still very interested in exploring how to use / merge `CloudIlastik` and `cluster_tools`.
Will make som

[2020-04-14 21:32] #1 closed

[2020-04-14 21:33] constantinpape opened #21 "Add more thorough tests"
Need test data in this repository, see #14

[2020-04-15 07:24] #2 closed

[2020-04-16 11:42] constantinpape opened #29 "Improve logging"
The logging can still be improved.

- [x] currently only one of the messages goes to the log file, the rest is printed to the command line
- [ ] a lot of important things are not logged yet, e.g. input output checks

[2020-04-16 11:44] constantinpape commented on #29
@wolny

When I run the pixel-level analysis, I get this in the log file:
[code]
the rest is printed on the command line.
I think ideally, we should see the log messages both on the command line and i the log file.

I will take care of more logging at some point.

[2020-04-16 11:51] constantinpape opened #30 "Write analysis summary for plate-viewer"
As discussed, we should write summary tables and image representations so that it can be inspected visually (e.g. with the fiji-plateViewer).
So far, we have discussed the following:
- Write an image with a mask for the cells classified as infected / not infected
- Write images with the mean intensities of serum and marker per cell
- Write succinct summary of analysis in `ImageInformation` / `Well

[2020-04-16 11:52] constantinpape commented on #15
I added functionality to write tables in this format:
https://github.com/hci-unihd/batchlib/blob/master/batchlib/analysis/summary.py

See also #30

[2020-04-16 11:52] #15 closed

[2020-04-16 11:56] constantinpape opened #31 "Use tagged outliers to skip images in analysis workflows"
@wolny
We should use your outlier class to skip the outliers in the analysis tasks:
https://github.com/hci-unihd/batchlib/blob/master/batchlib/analysis/cell_level_analysis.py
https://github.com/hci-unihd/batchlib/blob/master/batchlib/analysis/pixel_level_analysis.py
and add this information to the table in `Summary`
https://github.com/hci-unihd/batchlib/blob/master/batchlib/analysis/summary.py

cc

[2020-04-16 11:57] constantinpape commented on #13
Using the `numba` hack just shifts the problem, need to investigate more.

[2020-04-16 12:21] wolny commented on #29
@constantinpape that should only be the case if the logger you're using is not a child of the `Workflow` logger.

Basically I threat the `Workflow` logger as the main logger and register all the file/console handlers there if necessary. If we want another logger to be able to log to the same destination (handlers) it must be named accordingly (i.e. be the child of the parent logger).

As an exampl

[2020-04-16 12:55] constantinpape commented on #29
I haven't really changed anything with the loggers after I merged your PR.

Yes, would be great if you can double check. In addition to the tests, try running one of the workflows, I think this should show that it doesn't quite work right now.

Yes, that would be great.

[2020-04-17 09:28] tischi commented on #30
Regarding well-based measurements I would for now add them to the image table. Then all images in the same well would have the same number in such columns, which is redundant, but also supporting a well-based table is out-of-scope for me at the moment.

[2020-04-17 14:44] wolny commented on #29
JTLYK: @constantinpape it was indeed a bug: file handler was being removed from the workflow logger inside the job loop, preventing any subsequent logging to be directed to the file. I fixed that in https://github.com/hci-unihd/batchlib/commit/22e859f1df854ed0f7dae51233ada7291643cea5. Additionally I've redirected the tensorflow logs into the file as well (only WARN level and above are directed to

[2020-04-18 13:27] constantinpape commented on #14
I have added a few test images now after checking in with Vibor that this is ok.

[2020-04-18 13:27] constantinpape commented on #14
And @imagirom has also added the new barrel correction file already.

[2020-04-18 14:34] constantinpape commented on #13
I tried the following, but nothing really works:
- Running tensorflow in a separate process: Leaves GPU in an invalid state for pytorch
- Use numba to free the GPU: Same
- Use `from csbdeep.utils.tf import limit_gpu_memory`, but not compatible with recent tf / keras

[2020-04-19 08:52] constantinpape commented on #13
Fixed in b8012cf

[2020-04-19 08:52] #13 closed

[2020-04-19 08:55] constantinpape commented on #29
Hmm, I checked again and I am still not quite sure if it works properly.
But I will implement a bit more logging now and then check again and let you know.

Yes, I agree that's good.

Yes, I wouldn't log tqdm either; it's very helpful to see this while running the job directly and I don't see many benefits of having this in the log.

[2020-04-20 10:44] constantinpape commented on #14
Also added the stardist models with permission from Martin now.

[2020-04-20 14:18] constantinpape commented on #14
Added the pytorch model for foreground / boundary prediction now

[2020-04-20 20:15] constantinpape commented on #29
Ok, I checked again and it works as expected now :).
Thanks @wolny.

I also added some more logging, gonna add some more tomorrow and then close this.

[2020-04-20 20:17] wolny commented on #29
awesome, cheers!

[2020-04-21 13:21] tischi opened #33 "Image storage compression"
@constantinpape
Just an interesting observation: the segmentation images load **much** faster than the fluorescence channels, indicating that the compression makes a big difference. Is there anything we can do to compress the fluorescence channels even more?

[2020-04-21 13:26] constantinpape commented on #33
Yeah, I think that is not very surprising. Segmentations are probably a few kb only.

Actually yes, we could cast them back to be 16bit (or even 8bit).
However, this might have some impact on the analysis code by @Steffen-Wolf and @imagirom.

[2020-04-21 13:49] tischi commented on #33
But, we also need the raw data in a sense that they need have the exact same pixels values as when you would open the *.tif files in ImageJ! This is crucial for discussing background subtraction issues. Do we have this right now, i.e. is this the current "raw"?

[2020-04-21 15:27] tischi opened #35 "Multiscale images"
@constantinpape
Just to keep track of when the multi-scale images will be generated by the pipeline.
Currently they are not yet, right?

[2020-04-21 16:37] constantinpape commented on #35
Multi-scale images are generated by the pipeline since e26132369. Most plates processed on the hci server has been started before that was merged, but for all future plates we will have it.

[2020-04-21 16:39] constantinpape commented on #33
Let's see how it's working with multi-scale and then look if we need to improve this further.

[2020-04-21 16:51] tischi commented on #35
@imagirom Could you run the titration plate with such a pipeline (see above)?

[2020-04-21 20:05] constantinpape commented on #35
Recomputation is done.

[2020-04-22 08:17] tischi commented on #35
@constantinpape
This one is still singe scale: data-processed-seg-new/titration_plate_20200403_154849
Maybe other folder?

[2020-04-22 08:17] constantinpape commented on #35
please read in slack for details, I posted the new path there

[2020-04-22 08:26] tischi opened #37 "Analysis: Fraction infected"
@imagirom
I think having a column "fraction_infected" would be useful.

[2020-04-22 08:38] constantinpape commented on #35
Can you load the mult-scale now?
Do you think it's working properly?

[2020-04-22 08:39] imagirom commented on #37
That would be just `num_infected_cells/num_cells` or would you like to know the fraction of pixels that belong to infected cells?

[2020-04-22 08:42] tischi commented on #37
No, just `num_infected_cells/num_cells`.  I think this is important to have quick access to, especially for the titration plate, because, afaik, this was the main point to figure out how we could get to 0.5 (50%).

[2020-04-22 08:49] tischi commented on #35
I can load it, but the shift between the different resolutions somehow got worse...
Do you want to quickly zoom?

[2020-04-22 08:50] constantinpape commented on #35
Is it still the same problem as before?

Should we talk this afternoon after you showed the viewer to the others?

[2020-04-22 08:54] imagirom commented on #37
I have added the column (see 30c2f512eb70b8ae759fdf2866ce442f8424b688). Should I rerun the analysis now? That will make data-processed-multiscale/titration_plate_20200403_154849/analysis.csv unavailable for a couple of minutes

[2020-04-22 10:13] constantinpape commented on #35
These are the down-sampled sizes I produce:
[code]
/t00000/s02/0            Group
/t00000/s02/0/cells      Dataset {1/Inf, 930/Inf, 1024/Inf}
/t00000/s02/1            Group
/t00000/s02/1/cells      Dataset {1/Inf, 465/Inf, 512/Inf}
/t00000/s02/2            Group
/t00000/s02/2/cells      Dataset {1/Inf, 232/Inf, 256/Inf}
[code]

[2020-04-22 19:56] tischi commented on #35
I think I fixed it. It was the issue that I suspected with tiling many of them.

Something else, could do downsample even one more time? If think when zooming out to see the whole plate this may help somewhat.

[2020-04-22 20:12] constantinpape opened #39 "Storing tables in hdf5"
As discussed today, we may want to store tables associated with (segmentation) images for a given image in the hdf5.
For example, we could have a table for the cell segmentation image that stores the values measured per cell.

I would suggest to store the tables like this in the hdf5:
[code]
`tables/cell_segmentation` would just be a 2d dataset storing the table.
We would store the column names in

[2020-04-22 20:41] constantinpape commented on #35
Sure, no problem.

[2020-04-23 08:22] constantinpape commented on #35
So I think this is fixed now. Closing the issue for now, feel free to reopen if anything else is coming up.

[2020-04-23 08:22] #35 closed

[2020-04-23 14:04] constantinpape commented on #31
Fixed in #40

[2020-04-23 14:04] #31 closed

[2020-04-23 14:06] constantinpape opened #41 "What happens when get_outlier_predicate gets a list of plate names?"
This was brought up by @imagirom in #40:
What happens when `get_outlier_predicate` is passed a list of plate names?
Why is this even supported? The code looks a bit confusing to me:
https://github.com/hci-unihd/batchlib/blob/master/batchlib/outliers/outlier.py#L18-L22

[2020-04-24 09:04] tischi opened #42 "Initially visible channels"
@constantinpape @metavibor

Since, after the analysis, we have many channels (segmentations a.s.o), I was wondering which ones of them should be visible by default ("initiallyVisible" attribute). Currently none of them is, but for my viewer at least one of them must be for the initialisation. I think a natural choice may be all the "raw" channels that were acquired?

Any opinions?

[2020-04-24 09:10] constantinpape commented on #42
Yes, I agree. It's easy for me to activate this.
The other option would be to show the corrected channels by default.

btw, the hdf5 attribute is called `visible` not `initiallyVisible`.

[2020-04-24 09:53] tischi commented on #42
ok! Let's wait what @metavibor thinks...

[2020-04-24 10:13] tischi opened #43 "Analysis table name"
@imagirom @constantinpape

Did you guys settle on a name for the table such that I can load it automatically?

[2020-04-24 10:25] imagirom commented on #43
No, not yet. What about `platedir_analysis.csv` with `platedir` being the name of the folder the table is in (e.g.`20200406_222205_911_analysis.csv`)?

[2020-04-24 10:32] imagirom commented on #39
I am not sure.. If reading this in java would work fine, the key question would probably be how big of a disadvantage not having access to mixed data-types is.
If we decide to do it within the h5, I would go for it as you proposed.

[2020-04-24 10:34] constantinpape commented on #43
This is implemented on master already since #40

[2020-04-24 10:46] tischi commented on #39
My code anyway assumes that all column values are Strings initially, this is the easiest, because so far I exclusively read columns from text files.
And then at some point later in the code I am doing this:
[code]

[2020-04-24 10:48] tischi commented on #43
And should I assume that `20200406_222205_911` must be identical to the parent folder name?

[2020-04-24 11:19] constantinpape commented on #39
Ok, then I will implement it and just store everything as string.

[2020-04-24 11:21] constantinpape commented on #43
yes (or at least it will be by default, it's still possible to over-ride this)

[2020-04-24 11:31] imagirom commented on #43
Whoops, sorry for missing that

[2020-04-24 13:54] constantinpape commented on #39
@tischi I uploaded an example table, it's in `tables/data`
https://oc.embl.de/index.php/s/0EfbFxVsfZkJKE6

Can you check if you can load it?

[2020-04-24 13:59] imagirom commented on #30
On the cell-level side this is now mostly implemented, apart from

What did you have in mind for this?

[2020-04-24 15:11] metavibor commented on #42
are we talking about the uneven illumination correction? If yes than I would prefer to see corrected images by default.... uneven illumination pattern bothers me... maybe there will be some rare cases where the correction produced something unexpected and than we can check the "rawest" data but in general should not be a problem

[2020-04-24 17:11] constantinpape commented on #42
makes sense, I will adapt it.

[2020-04-24 17:14] constantinpape commented on #30
I think this should be the most relevant score on a per image / per well level.

[2020-04-24 17:27] tischi commented on #30
...maybe, since we now have the interaction with the table working the `WellInformation` and `ImageInformation` fields are less important?

[2020-04-24 17:29] constantinpape commented on #30
Yep, that's true. It's more important in cases where there's no table. Wouldn't hurt to add it though.
(And the plateViewer should def. keep the functionality.)

[2020-04-24 18:00] tischi commented on #30
Yes, I'll keep it!

[2020-04-24 19:32] constantinpape commented on #42
Will be fixed in #46

[2020-04-24 19:32] constantinpape commented on #43
No worries, anyway closing this for now.

[2020-04-24 19:32] #43 closed

[2020-04-24 19:34] constantinpape commented on #37
We have this now. I will rerun everything with new settings either on Sunday or Monday on EMBL servers and then we can check it.

[2020-04-24 19:34] #37 closed

[2020-04-25 11:41] tischi opened #47 "Add columns to table"
@constantinpape @imagirom

Could you please add two columns to the table?
`file-name`
`well-name`

[2020-04-25 13:51] tischi commented on #30
@imagirom

1. What is the number that Vibor currently looks at when you send him the Excel sheets with the analysis? I guess it is a well-based number? This number should be in the one in the `WellInformation`
2. Could you please also add this number to the image table?

[2020-04-25 15:34] imagirom commented on #47
Sure. `well-name` as e.g. `A05`?

[2020-04-26 08:34] tischi commented on #47
Yes, please!

And do you also have the `cell-based-score` as one number per **well**? I guess this is what Vibor is looking at in the end, isn't it? If so, it would be important to have those numbers in the tables as well. I know they would be the same for all the images in one well, but that's fine. Maybe call it `well-cell-based-score`. We could have it as a convention that all columns that star

[2020-04-26 09:05] constantinpape commented on #47
We have the column `image` already, which contains the file name. If you want, we can rename it to `file_name`.

This is included in `site-name`, which is composed as following:
`<WELL_NAME>-<NR OF IMAGE IN WELL>`

If you want we can change how this is formatted, but I don't think we should add more columns, because they would be completely redundant.

Yes, I think this makes sense. I think @imagi

[2020-04-26 09:09] constantinpape commented on #30
I think that this number is the `cell_based_score` we have in the table.
I agree, we should also write the well score in the table, and then maybe write the main Image/Well Scores into the `ImageInformation`/`WellInformation` attributes.

[2020-04-26 09:23] constantinpape opened #48 "Log commit of batchlib"
We should log the commit the analysis pipeline was run with to keep track which plates
where processed with which version of the pipeline.

[2020-04-26 09:45] constantinpape commented on #21
We have (most of the) necessary test data now and some unit-tests.
I think we should now add CI, that also runs a full integration test for the analysis pipeline we run in practice.

[2020-04-26 09:56] constantinpape opened #49 "Automating analysis workflow"
I have been thinking a bit about how to automate running the analysis pipeline.
I think the ideal setup would be setting up a cronjob that does the following:

- rsync some directory on vibors microscopy set-up where he puts the data that should be processed.
- return if rsync didn't copy anything
- pull the current batchlib master
- run analysis on the new data
- have a slackbot that posts summar

[2020-04-26 10:45] constantinpape commented on #21
Added CI in #50, still need proper integration test.

[2020-04-26 10:48] #48 closed

[2020-04-26 10:49] imagirom commented on #47
I just added the `well_cell_based_score` in a20f4298390acb75fa5104e53904bd09fa615b95, which for now is indeed the median over (non-outlier) images.

[2020-04-26 10:49] constantinpape commented on #29
We are logging the most important things now.

[2020-04-26 10:49] #29 closed

[2020-04-26 11:01] tischi commented on #47
It is just handy to have a well-name column, because then one can colour all data points that belong to the same well in the same colour, which is often useful to see how consistent the measurements are across the different images in the same well. But we could also just have the `image` column stored and then I can add all deduced columns, such as `well-name` and `site-name` on the fly while load

[2020-04-26 11:02] imagirom commented on #30
The number I report to Vibor currently it is the median over the `cell_based_score` of the images of the well, for now it is in the table under `well_cell_based_score`.

The `ImageInformation/WellInformation` you proposed make sense, but I will not add it right now, as it does not seem to be that urgent. Please tell me if you want to use it in the viewer now, then I will add it.

[2020-04-26 11:05] imagirom commented on #47
What exactly do you mean by that? The `cell_based_score` is the current per-image score of the cell-level analysis, the `well_cell_based_score` the per-well one.

[2020-04-26 11:06] tischi commented on #47
@imagirom I did not see your answer, yet. So that's fine!

Ideally there would also be some quick way to know how our current score is computed, maybe some link to some github issue somewhere? Such that one does not have to rely on asking you personally ;-)

[2020-04-26 11:08] tischi commented on #30
It's fine, no need to rush anything!

[2020-04-26 11:50] constantinpape commented on #47
Ok, let's leave it at the current `image` and `site-name` columns, and you can deduce anything else from this on the fly.

That's a good point, but I am not quite sure what's the best way to do this. Personally, I would not go with issues but rather have a section in the readme.

[2020-04-26 11:51] tischi commented on #47
Yes, sounds better!

[2020-04-26 12:36] imagirom commented on #47
I agree, and will add that soon. Maybe additionally we could somewhere log the current commit hash of batchlib when the analysis is run?

[2020-04-26 12:46] constantinpape commented on #47
See #48 ;).

[2020-04-27 14:33] tischi commented on #39
@constantinpape
Can you post here python code how you read it?

[2020-04-27 14:38] tischi commented on #39
Do you have an idea how to fix this?
[code]

[2020-04-27 14:45] constantinpape commented on #39
Here is the code to read / write the table in python:
https://github.com/hci-unihd/batchlib/blob/master/batchlib/base.py#L348-L384
(The argument `f`is what's being returned by `h5py.File`)

Regarding the error you are seeing: yes, I have an idea:
It seems like the strings in attributes also need to be encoded properly to be portable, see
http://docs.h5py.org/en/stable/strings.html#fixed-length-asc

[2020-04-27 14:59] constantinpape commented on #39
Here's a new example file:
https://oc.embl.de/index.php/s/COkIpaaQcUvWnXv

[2020-04-27 15:46] tischi commented on #39
Still same error.

[2020-04-27 15:48] tischi commented on #39
Maybe don't make it an attribute but a proper data array as well?

[2020-04-27 16:46] constantinpape commented on #39
Makes sense. I will upload a new version later.

[2020-04-27 18:09] constantinpape commented on #39
And here is the new version:
https://oc.embl.de/index.php/s/GlzrbKuXQGjzti7

[2020-04-27 18:17] tischi commented on #39
Perfect. Nice and easy (for Java standards 😄 ):
[code]

[2020-04-27 18:33] constantinpape commented on #39
Ok, great I will look into porting the analysis task so that we use this instead of the extra pickle files.

[2020-04-27 19:45] wolny commented on #49
Hey @constantinpape, the setup you described should definitely be executable, however I'd rather choose a different trigger for starting the pipeline than the cronjob/rsync. I'd rather rely on *something* sending the data to EMBL premises, where we have a watchdog process (it can be a cronjob), which spawns the pipeline process (point 3 onward) when a new data shows up. It's not a big change to th

[2020-04-28 10:26] tischi opened #52 "Remove columns from table"
@imagirom @constantinpape

There are also some columns in the table that might be too much information for "general usage", e.g.
![image](https://user-images.githubusercontent.com/2157566/80476872-4caa4080-894b-11ea-93a6-8b1269d509ea.png)

However, maybe it is fine to leave everything in the table and then the consumer could decide not to show all of them, e.g. the PlateViewer would be default onl

[2020-04-28 10:38] constantinpape commented on #52
Yes, I agree. It would be good to enable not showing all columns by default.
However, I am not quite sure what's the best way to enable this for the csv table format.

For the hdf5 tables it would be easy, we would just include a new dataset `visible` that would be true or false for each column.

[2020-04-28 10:48] tischi commented on #52
Some ideas:

1. We could do it like in the PlatyBrowser, with one default.csv and then more associated tables.
2. We just save the tables as hdf5
3. Each consumer takes the liberty to decide on its own which ones to show

[2020-04-28 10:53] tischi opened #53 "Compute median plate background"
@imagirom

Could you please
- [x] compute the median background in all pixels that are not cells
- [x] add this number to the image table

[2020-04-28 10:54] tischi opened #54 "Compute image background value"
@imagirom

Could you please
- [x] compute the median background in all pixels **in each image**
- [x] add this number to the image table

[2020-04-28 10:57] tischi opened #55 "Compute background corrected ratio score"
@imagirom

Could you please

- [x] compute (i) for each well and (ii) for each image:

[code]

and

- [x] add both values to the image and well table

[2020-04-28 11:05] wolny commented on #41
sorry @constantinpape and @imagirom I missed that issue.

Why is this even supported?

it should definitely not be supported to pass a list of plates, since it would lead to errors (i.e. two plates not having unique image names, which is the case for us). The only reason why I put it in the code, is that when I tested the outlier detection integration with the pipeline I've added the `plate_name`

[2020-04-28 11:09] constantinpape opened #56 "More values for outlier detection"
Currently, we only have `True` and `False` as values in the outlier detection.
This is bad, because `False` could either mean that the image is not an outlier, OR that there is no outlier detection for it yet.
We should change to `True`, `False` or `None`.
I can do it, but I will wait till @imagirom finishes cleaning up the code.

cc @wolny

[2020-04-28 11:36] wolny commented on #56
Hey @constantinpape very good point! It should be a quick fix, i.e. instead of taking a default predictor which returns `False` (if there is no outlier detection for the plate), it should return `None` instead. I'll put that in my quick PR

[2020-04-28 11:38] tischi commented on #56
I think should also

- [ ] add another column specifying what and who determine the outlier, i.e. `outlier-type`. I would make it a `String` where there could be keys such as `manual_vibor`, `too_high_background`, `automated_debris`, ...

[2020-04-28 11:45] constantinpape commented on #56
Ok, that's good. Thanks!

[2020-04-28 11:46] constantinpape commented on #56
@tischi
Yes, that's a very good point too.
Let's fix the three value issue first and then think about how we manage the `outlier-type`

[2020-04-28 12:28] constantinpape commented on #49
Yeah that's a good point and doesn't change much in terms of setting up the system.
@imagirom and me are working on getting the whole code more deployable now and then we can sync on what to do here exactly in the next few days; also with the database solution we eventually want to have in mind.

[2020-04-28 12:33] constantinpape commented on #52
I personally like this option the most, then we have the same table set-up throughout.
For the analysis, we would then just add an H5 file `<plate_name>_analysis.h5`.
This file can then contain multiple table and we have a in-file link `tables/default` or so that points to the table that is loaded automatically.

We should still support csv tables as well though, because it is more convenient to w

[2020-04-28 12:45] tischi commented on #52
I am also interesting in using hdf5 for this.
At some point it may also be a database.
Maybe it does not hurt to save it three times: csv/h5/db.

[2020-04-28 12:49] constantinpape commented on #52
Agreed to all.
Regarding db we need to see how to actually do this once you and @wolny have explored this further.

In any case, I will update the pipeline at some point later to write out csv and h5 once Roman and me have integrated our current changes.

[2020-04-28 13:15] tischi commented on #52
Regarding the `Show by default` in the hdf5: I am becoming a fan of using normal arrays where possible and avoid using attributes, because they are kind of hidden and more annoying to parse. In fact they just adds a layer of complexity that is maybe not necessary and might make things less compatible, also having a database and n5 in mind.

So why not just have a
[code]

[2020-04-28 13:30] constantinpape commented on #52
Yes, that's exactly what I will do. Now that we have a sub-structure for the tables already, there's no need to resort to attributes for this.
A table would then look like this:
[code]

[2020-04-28 16:04] wolny opened #58 "Covid project database"
Currently lots of data related to the project is spread around the HCI servers, our repositories and external files and we need to bring those data in sync and store it in a centralized database which can easily be updated from within Plate Viewer, batchlib jobs, QC app or directly.

The following information should be stored inside a DB:
- plates metadata
- results from our analysis pipeline
- qu

[2020-04-28 16:12] tischi opened #59 "well, image and objects table"
cc @wolny @imagirom

Just had a chat with @constantinpape and we think we need to properly represent three granularities:
- wells
- images
- cells

and have a table (and db entry) for each of them.

I was hoping we can get around the well table and just add numbers to the image table (same value for all images in the same well), but since the main result of our analysis is in fact one number per w

[2020-04-28 16:19] constantinpape commented on #58
Thanks for looking into this @wolny, this sounds very good already.

From my side, there is just a few minor things:
- I think the "top-level names" are a not very clear, maybe `immuno-assay-analysis-results` for 1. and `immuno-assay-metadata` for 2. ?
- For 1., it should be possible to have separate entries for a plate for different batchlib commits, in order to keep track of how results evolve (

[2020-04-28 16:20] tischi commented on #58
I am not sure you cover this already in above schema, but I think for the antibody-assay we may need those granularities:

- plates
- wells
- images
- cells

(see also here: https://github.com/hci-unihd/batchlib/issues/59)

For example, the QC can be image and well based.
Excluding one image would still allow to compute a score for a well, but excluding a whole well would automatically render all

[2020-04-28 16:27] constantinpape commented on #59
In the disc representation, we would store these tables as follows:

For `wells` and `images`, there will be a file `<PLATE_NAME>_tables.h5` (or so) in the folder,
with the following layout:
[code]

the `cells` or object tables will be stored in the image hdf5 files and contain cell level attributes (basically what Roman is computing already and storing in the pickle files)

all tables will have [

[2020-04-28 16:34] wolny commented on #58
Thanks for your comments @constantinpape and @tischi.
@constantin:

agreed!

this should be already accomplished in the current schema via the `batchlib_version` attribute; we could then either make the (`batchlib_version`, `plate_name`) pair unique within the collection (by creating a unique index), i.e. a single result per a given plate and given batchlib version, or we can just replace the docu

[2020-04-28 16:39] constantinpape commented on #58
Very good!

I just thought of one more thing:
It would also be nice to somehow keep track of associated issues for the images.

[2020-04-28 16:45] wolny commented on #58
Sounds good. I don't think issues deserve a dedicated collection in the DB for now, so let's reflect this in the additional attribute for the image called `issue_url`. We'll make additional call to MongoDB to create this image attribute, when the issue is create from the Plate Viewer.

[2020-04-28 17:18] wolny commented on #58
Ok, so let's wait for that initial schema to sink in.
The way I'll proceed with it:
1. Write the migration script *only* for the `immuno-assay-metadata`
2. Write the API for batchlib, plate viewer, outlier app and populate `immuno-assay-analysis-results` on the go. It's easier to just rerun the analysis on all of the plates and no need to spend time on additional migration for the current results.

[2020-04-28 17:47] constantinpape commented on #58
Sounds good overall.

Re 2., I would like to eventually do this as follows:
First save results locally in the hdf5 table layout discussed [here](https://github.com/hci-unihd/batchlib/issues/59#issuecomment-620714701) and [here](https://github.com/hci-unihd/batchlib/issues/52#issuecomment-620609141).
Then have some final `DatabaseJob` that parses these tables and writes them to the DB.
This way, th

[2020-04-28 18:41] wolny commented on #58
This way, the analysis can still run through even if the database is currently not available and the database is kept optional in general.

that was exactly what I was thinking as well!

[2020-04-28 21:29] constantinpape commented on #58
Forgot a very important thing: Vibor also has results from the ELISA test and Schnelltest for some of the plates. These should def. go into the metadata as well if available.

[2020-04-29 09:01] constantinpape opened #62 "Recompute jobs if inputs have changed"
In the current implementation, jobs only recompute the results for files where the inputs are not present.
However, it would be more appropriate to recompute results if the inputs have changed.
This could be implemented by keeping a checksum of the input and everytime a job is rerun comparing the current check sum to the one used to compute the job results.

cc @imagirom

[2020-04-29 18:33] #41 closed

[2020-04-29 18:33] #56 closed

[2020-04-30 07:20] constantinpape opened #64 "Heuristics for quality control"
As we have discussed already, it would be good to have some additional quality control based on
heuristics computed from the features we extract from the cell segmentation + image channels.
I have adapted the code in #51 now so that this is easy to integrate.
Now we only need to come up with (and evaluate!) good heuristics.
Some initial ideas:
- number of cells
- number of infected vs control cell

[2020-04-30 08:22] tischi commented on #64
I think also a cell based QC
- number of pixels of a cell (reject too few or too many)

[2020-04-30 11:41] imagirom opened #67 "Output validation fails for preprocessing job in case of multiple serum channels"
All outputs of the preprocessing job are wrongly classified as failed even if all the channels were processed correctly (downstream analysis is working fine).

Side note: this would be easier to debug if the error message included why some of the outputs failed.

[2020-04-30 14:10] constantinpape commented on #67
I can't reproduce this with the test and the one that uses [naming scheme 4](https://github.com/hci-unihd/batchlib/blob/master/data/test_data/naming_schemes/scheme4/channel_mapping.json) should in theory catch this.
Could you point me to an example where this fails?

Yes, we should definitely add more debug logs for this ...

[2020-04-30 14:46] constantinpape commented on #59
This is all implemented now. @tischi feel free to reopen if you find any bugs.

[2020-04-30 14:46] #59 closed

[2020-04-30 14:48] constantinpape commented on #52
This is implemented now in #51.
@tischi let me know if you find any bugs and reopen if necessary.

[2020-04-30 14:48] #52 closed

[2020-04-30 14:53] constantinpape commented on #42
This is fixed now.

[2020-04-30 14:53] #42 closed

[2020-04-30 14:53] constantinpape commented on #39
Also done.

[2020-04-30 14:53] #39 closed

[2020-04-30 14:54] constantinpape commented on #47
Superseded by more recent discussions.

[2020-04-30 14:54] #47 closed

[2020-04-30 15:17] imagirom commented on #67
It also fails on `~/data/covid-data-vibor/20200405_test_images/`. It might have to do with explicitly specifying a`--folder`, which I always did.

[2020-04-30 16:21] constantinpape commented on #33
I think we cannot do much better than right now without investing much effort / making the file format less portable, so I will close this for now.

[2020-04-30 16:21] #33 closed

[2020-04-30 16:22] constantinpape commented on #30
This has been superseded.

[2020-04-30 16:22] #30 closed

[2020-04-30 16:24] constantinpape commented on #14
Everything but the ilastik models has been added.
We will not use this in production anyways, so I am closing this.

[2020-04-30 16:24] #14 closed

[2020-04-30 16:25] constantinpape commented on #21
Test coverage could still be improved, but this can go into a more specific issue at some point.

[2020-04-30 16:25] #21 closed

[2020-04-30 16:33] constantinpape commented on #67
Ok, I will look into it later or tomorrow.

[2020-04-30 21:15] constantinpape opened #68 "Rename semantic channels?"
@tischi brought up that we may want to rename the semantic channels:
1. the `serum` channel should always be called `serum_IgX`, also if we only have a single one, to avoid confusion.
2. Rename `marker` to `virus`.

I definitely agree on 1. and don't really mind what's it called for 2. Because there is just a single marker / virus channel there is no real ambiguity, so the name doesn't matter so m

[2020-04-30 21:43] imagirom commented on #68
1. I agree, we can simply change that in the `channel_config.json` for those plates.
2. I also don't really mind. I have a slight preference to keep it as `marker`, as that is its name everywhere in the code (and changing it everywhere would take some effort).

[2020-05-01 09:54] tischi commented on #68
1. agree
2. let's leave it marker, I would say

[2020-05-01 10:13] constantinpape commented on #68
Ok, sounds good.
I will write a script to update the channel mapping to change the `serum` name accordingly later.

[2020-05-01 11:14] constantinpape opened #69 "Compute well level scores as median over cells instead of median over the images"
this makes more sense biologically and we can take into account images whose score is NaN because they don't contain control cells, not because they are an outlier.

cc @tischi

[2020-05-01 11:25] constantinpape commented on #64
In general I agree that this makes sense.

Right now I am not so sure that we need it though; I think that due to the very good seeds we shouldn't really have a problem with segmented cells that are completely off.
(The segmentation might of course still be incorrect, but I don't think we can easily catch with size based heuristics, which btw also applies to the `cell size distribution` idea I men

[2020-05-01 12:43] constantinpape commented on #67
I cannot reproduce this, @imagirom.
I tried
[code]
and several versions of this and they all work for me.

Could you try again on the latest commit?
Note that I removed the `ignore_failed_outputs=True` in https://github.com/hci-unihd/batchlib/pull/51/commits/5c4d645076f3c387b82e6fec5ed56f82889825d4.

[2020-05-01 13:23] tischi commented on #64
I have not look yet. Is this plate a good one to inspect?
"/g/kreshuk/data/covid/sandbox/h5-tables2/titration_plate_20200403_154849"

[2020-05-01 13:32] tischi opened #70 "Number of cells column"
I think we should add a column "n_cells" in the image (and well) table.
This is an absolute standard readout for all HTM assays.
Also, biologically it is very important to check in the end whether our score shows any (surprising) correlation with cell density.

[2020-05-01 13:34] tischi opened #71 "Fraction infected column"
I know it is redundant, but a "fraction_infected" column would be good to have because this really is one of the main points of our assay. The closer this is to 0.5 the better the assay. Plates or wells where this number is too close to 1.0 may even fail QC...

[2020-05-01 13:34] constantinpape commented on #70
You can already see it on the fly as `n_infected + n_control`. But I agree, it doesn't hurt to have it as a proper column.

[2020-05-01 13:35] constantinpape commented on #70
Either Roman or me can do this, after we discuss how to treat the slightly more involved #69

[2020-05-01 13:36] constantinpape commented on #71
Sure, doesn't hurt to add it. Will add it after figuring out what to do with #69.

[2020-05-01 13:51] imagirom commented on #55
I will do this after #69 is addressed

[2020-05-01 13:52] tischi commented on #64
@constantinpape
I posted a couple of issues. Since our analysis is median based I do not think it has high priority but I think just adding one threshold for maximal cell size would be easy and remove couple of wrong segmentations. One could ask @metavibor to provide a biologically justified maximal cell size.

[2020-05-01 14:13] tischi commented on #70
I know, but trust me, **the very first thing** people in HTM microscopy would like to do is `[ Color by Column > Number of cells ]` to check wether they managed to evenly seed the cells in the plate.

[2020-05-01 14:25] constantinpape commented on #70
Yes, makes total sense. Roman will add it later after implementing a few of the more fundemental issues.

[2020-05-01 14:32] constantinpape commented on #64
Thanks, I will have a look at those issues later.

I already discussed with @imagirom how we will handle this in the code:
One of the cell tables will have a column `cell_is_outlier` (or so).
This will be initialized all zeros by `InstanceFeatureExtraction`.

Then we can write a `CellBasedQC` job that goes over all the extracted features and can assign outliers based on the heuristics we come up w

[2020-05-01 14:45] tischi commented on #64
Maybe be try to be consistent here: for the images it currently is called `marked_as_outlier`. For me, simply `outlier` would do.

[2020-05-01 14:47] constantinpape commented on #64
Yes good point, we should be consistent with the column names here.
I also don't really mind which name we use.

[2020-05-01 15:25] constantinpape opened #72 "Refactor all_plots function"
see https://github.com/hci-unihd/batchlib/blob/workflows/batchlib/util/plate_visualizations.py#L239-L240

[2020-05-01 15:29] constantinpape opened #73 "Check if we can write tables as varlen string"
If possible, it would be better to write the table to h5 as varlen string instead of fixed length because with fixed length, long names might be cut off.
This is not a problem in hdf5, see http://docs.h5py.org/en/stable/strings.html#variable-length-ascii, however I don't know if it can be read that easy in java.

I will produce a test file at some point and the send it to @tischi so he can give it

[2020-05-01 21:39] imagirom commented on #70
Added in f951d208c2e45e2c7b9a4b4712880411beeb616d. The column name is `n_cells`.

[2020-05-01 21:40] imagirom commented on #71
Added in f8bd8890db2718ec5ae134aebe85afadfeb4d34c. The column name is `fraction_infected`

[2020-05-01 21:43] imagirom commented on #54
Added in c1838f2bf0ad530eb670987fda4ebf0900b0d708. The columns in the table are `image_bg_median_serum` and `image_bg_median_marker`. I also added the respective MADs under `image_bg_mad_serum` and `image_bg_mad_marker`.

[2020-05-01 21:47] imagirom commented on #53
Added in c1838f2bf0ad530eb670987fda4ebf0900b0d708, to the image-wise and well-wise tables. The columns are `plate_bg_median_serum` and `plate_bg_median_marker`. I also added the well-wise medians under `well_bg_median_serum` and `well_bg_median_marker` as well as all respective MADs (replace `median` with `mad` in the column names).

[2020-05-01 21:50] imagirom commented on #55
@tischi I assume that with `( median( serum )_infected_cells - plate_serum_background )` you mean the median over all infected cells of the per-cell median serum activations. Is that correct?

[2020-05-01 21:59] imagirom commented on #55
I added the background subtraction in `7a5f021ef36f889829755d3a5bc5018c588a4226`. This is now the main score that can be found either as `score` or `ratio_of_median_of_means` in both tables.

[2020-05-02 05:26] constantinpape commented on #64
Ok, I will implement the code for the QC later (probably not the actual heuristics yet):
There will be a file `cell_based_qc.py` with the following jobs:
- `CellLevelQC`: heuristics based QC per cell; write results to a table per image
- `ImageLevelQC`: heuristic and manual (if available) QC; gets the `outlier_predicate`; writes result to a table in `PLATENAME_tables.hdf5`
- `WellLevelQC`: same as

[2020-05-02 06:13] tischi opened #75 "Cell feature column: Number of pixels infected vs. control"
@imagirom @constantinpape
I think for the assay characterisation it would be important to measure (already for the upcoming publication) whether the infected and control cells have the same size. Of course we cannot really measure their volume, so the best we can do is measure the number of pixels of the segments. Could this be added to the cell/ image/ well tables for both infected and control ce

[2020-05-02 06:19] constantinpape commented on #75
Yes, I think we can add it.
However, I think right now we are not calculating the cell segment pixel sizes (correct me if I am wrong @imagirom). We should def. add it, because we will need it for the QC as well.

@imagirom we could just use `np.unique(return_counts=True)` to compute it, OR use [regionprops](https://scikit-image.org/docs/dev/api/skimage.measure.html#skimage.measure.regionprops) if

[2020-05-02 08:47] constantinpape opened #76 "Which score do we use?"
Moving the discussion from the mail thread here:
Which measurement should we use for the final score?
- Currently, we use the mean intensity per cell. From what I understand, the best alternative would be to use the sum (see comment below).
- Should we include or exclude the nucleus from the intensity accumulation?

This is not my expertise, so I am impartial on what to do here.
However, as we hav

[2020-05-02 08:47] constantinpape commented on #76
Comment from @tischi from the mail thread:

The sum intensity has a direct biological interpretation: The measured signal (because we do widefield microscopy) is proportional to the total amount of antibody in the cell. This would be a completely different story if this was confocal microscopy. Then I would very strongly vote for mean intensity excluding the nucleus, in this case the biological in

[2020-05-02 09:26] imagirom commented on #75
The cell size is already measured, the key in the cell tables is `sizes`.

[2020-05-02 09:30] imagirom commented on #75
@tischi when you say add to the image / well tables, do you mean the average and median size of infected and control cells?

@constantinpape I think regionprops could also be useful for cell-level qc. Do you know how efficient it is?

[2020-05-02 09:41] metavibor commented on #68
1. and 2. - I agree

[2020-05-02 09:43] constantinpape commented on #68
@metavibor for 1., can we assume that what we have called `serum` so far is always `serum_IgG`?
In other words, when you image only one serum channel, is it always IgG?

[2020-05-02 09:45] imagirom commented on #72
I made `all_plots` compatible with the per-well tables in db89240f39cf08e2cb97b7e15f4e21e6c2810467. Currently `np.nan`s are screwing up the colorbar for many plots, I will figure that out later.

[2020-05-02 09:47] metavibor commented on #68
there was one or two instances when I had only IgA, these were some test situations, in general I will always have two channels - IgG and something else (IgA or IgM)

[2020-05-02 09:57] imagirom commented on #76
I agree that we should rerun everything with the current score first. But at least regarding the first decision (mean vs. sum), both options are computed for all the scores (replace suffix `_means` with `_sums` in the column name of the image / well table).

So once we have the manual assessments in the database, we can check which score matches them best without recomputing anything. I also think

[2020-05-02 10:06] constantinpape commented on #68
Ok, I see. Then we need to be a bit more careful with this.
I will check all the plates later and see for which ones we are not sure and then ask you to fill in the information for these ;).

[2020-05-02 10:30] metavibor commented on #68
sounds good

[2020-05-02 10:54] metavibor commented on #76
tischi made a good point with arguments why to include the nucleus and why to use the sum. I think we should include the nucleus and compute the sum and see the results.
I don't see a big issue with using the "mean" as we did so far. And excluding the nucleus. Mean would translate into "concentration of the antibody per cell" in biological sense (although it is going to be largely overestimated si

[2020-05-02 10:55] imagirom opened #78 "Tests for Corner Cases"
The current tests do not include some corner cases that can lead to errors such as
  - Images without a background segment
  - Images with no cells at all

The fiist column of plate 911 definitely falls into one of the two, I suspect the second (in reality there are no cells, but I have not checked what the network makes of that)

[2020-05-02 10:56] metavibor commented on #76
@imagirom what do you mean by "manual assessment in the database"?

[2020-05-02 11:06] metavibor commented on #64
I looked at cell sizes, the largest cell size that I could measure in a subset of images was 8500 pixels, let's but an upper threshold for the cell size on 10000 pixels

[2020-05-02 11:18] constantinpape commented on #75
I am not really sure. I have used it before, but under very different circumstances, where the overhead of running it was negligable, because the segmentation methods were much more involved.
Let's leave it out for now and reconsider if we really need something in there for the cell qc.

[2020-05-02 11:18] imagirom commented on #76
@metavibor I meant once we have parsed your visual assesments and included them in the Database (https://github.com/hci-unihd/batchlib/issues/58), we should compare to those and take the results into account for which score we select.

[2020-05-02 11:24] constantinpape commented on #78
Cool, I will have a look at these images and add one or two to the repo later and make corner case tests.

[2020-05-02 11:26] constantinpape commented on #76
Just to clarify, we will use this Database to keep all our results better organised.
From your side we would just need the results of the manual assessment in some form
(excel sheets would be totally fine), we will write a script to get them in the data-base then.

[2020-05-02 11:28] constantinpape commented on #64
Ok, I have implemented the mechanism for image level qc and cell level qc in #77 now.
Will have a look at the issues @tischi made in the other repo later + use the size threshold @metavibor provided to implement a first heuristic later.

[2020-05-02 12:54] imagirom opened #79 "Strings loaded from h5 tables prefixed with b' and suffixed with '"
I observed this here: https://github.com/hci-unihd/batchlib/commit/fc10767c9ee03d676f7cae9243303530c00dcd86#diff-1523659049987d3e5aa788721dee0d84R669-R670
and worked around it for the well plots here https://github.com/hci-unihd/batchlib/commit/db89240f39cf08e2cb97b7e15f4e21e6c2810467#diff-415d4435c76db06592ddcba790842cb7R270 (e.g. well name `"A01"` is loaded as `"b'A01'"`)

[2020-05-02 19:56] #53 closed

[2020-05-02 19:56] #54 closed

[2020-05-02 19:56] #55 closed

[2020-05-02 19:56] #69 closed

[2020-05-02 19:56] #70 closed

[2020-05-02 19:56] #71 closed

[2020-05-02 19:57] constantinpape commented on #79
I think this is fixed now. If not, feel free to reopen.

[2020-05-02 19:57] #79 closed

[2020-05-02 19:58] constantinpape commented on #75
@tischi could you answer this?

[2020-05-02 19:58] constantinpape commented on #67
I think this is fixed now. Feel free to reopen if it comes up again.

[2020-05-02 19:58] #67 closed

[2020-05-02 20:18] constantinpape opened #81 "Update PixelAnalysisWorkflow"
The pixel analysis workflow is not up-to-date with the changes introduced in #51. To make it work again:
- move the actual workflow to `batchlib.workflows.pixel_analysis`
- write the per image results to hdf5 (instead of json) with `write_table`
- write a result table for wells too and deal with outliers
- add an integration test in `test/test_workflows.py`

cc @Steffen-Wolf

[2020-05-02 21:07] constantinpape commented on #64
@tischi
I had a look at all the issues you posted in the other repo now.
So I think for now you would also just propose to use a size threshold, right?

[2020-05-02 21:49] tischi commented on #76
I can't hold back posting here some quote of Kota's book on bioimage analysis 😃

• **Computer vision** is an interdisciplinary scientific field that deals with how computers can gain high-level understanding from digital images or videos. From the perspective of engineering, it seeks to understand and automate tasks that the human visual system can do.
• In the light of this deﬁnition, “computer v

[2020-05-02 22:08] tischi commented on #76
@imagirom
The task in this assay is to  quantitatively measure who much brighter one cell population is compared to another, taking the average of many tens to hundreds of cells. This is not a task that the human visual system is good at. Computers are much better with such tasks. Thus I feel we cannot rely on human ground truth here, but should try to perform solid scientific measurements, as goo

[2020-05-02 22:17] tischi commented on #76
And regarding the mean vs. sum discussion: I agree with @metavibor and have also mentioned this in some other issue: probably the first thing to check is whether the cell size (in number of pixels) is different in the infected vs. control. Because if it is not the same it could throw off **both** the mean and sum based measurements in various ways, depending on whether the cells have (a) different

[2020-05-02 22:23] tischi commented on #75
I think it would be great to have:

1. cell_size_median_infected_per_image
2. cell_size_median_control_per_image
3. cell_size_median_infected_per_well
4. cell_size_median_control_per_well

You could also add the mean, but I think median could be enough.

[2020-05-02 22:31] tischi commented on #64
Right! As said, overall it looks very good!

[2020-05-02 22:36] akreshuk commented on #76
@tischi , by this line of reasoning you'd need to introduce an independent validation method not related to human vision. I can imagine many such methods for a normal biological experiment, but not here. What would you suggest?

[2020-05-02 22:40] imagirom commented on #76
@tischi
I am sorry for being imprecise in my previous posts in this thread. The point I wanted to make was that In my opinion we should base the decision of what score to use (including mean vs. sum) not solely on the conceptual advantages / disadvantages, but also take into account the agreement of the score with some ground-truth annotations. I totally agree with you, and also with @metavibor as

[2020-05-02 22:48] akreshuk commented on #76
Thanks, @imagirom , I looked at the slack discussion now. It would be interesting to see how our estimate of the FP/FN rate of the readout would change depending on the error rate on the cohort level which @metavibor mentioned cannot be guaranteed to be 100% correct. But that probably concerns FNs more than FPs.

[2020-05-02 22:57] tischi commented on #76
One thing could be to manually measure the intensities in some cells, e.g., draw ROIs in ImageJ and measure there, and then compare the measured values with the ones that the automated analysis gives. So, once we know what the actual plates are that we want to publish we should probably do this for a good number of cells. I was doing that for just two cells already several days ago, just to get a

[2020-05-02 23:02] tischi commented on #76
@imagirom @akreshuk I think maybe my issue here is that I am not sure what "visual inspection" means. If it means manually drawing ROIs and measuring intensities and intensity ratios in ImageJ then I would say yes of course! But I was not sure this was the definition.

[2020-05-02 23:21] akreshuk commented on #76
Getting a feeling is something I always find useful, but unless segmentation fails, why would there be a difference between your manual score and the automated one, especially if you don't remove the nucleus? This is not really an independent readout like the cohort information. But this way (your way) you can at least estimate how dependent your score is on segmentation errors, which is by itself

[2020-05-03 06:34] tischi commented on #76
@akreshuk
1. As said, for sure comparing the results with the cohorts is something we should do!
2. Yes, cell segmentation could be one source of error, so we should say something about the accuracy.
3. Since the main readout of the assay right now is a ratio between the intensities of infected vs. non-infected it matters for this score how we subtract a correct background. This this may in fact b

[2020-05-03 07:42] tischi opened #82 "Bug in csv image table"
In `plateK14rep1_20200430_194338_941_IgG` there was a `\t` missing between `well_cell_based_score` and `num_cells` in the csv table.
I added it there manually and re-saved the table, but then there were more column names (35) than values (34). So probably, in addition a whole column is missing?

[2020-05-03 07:44] tischi opened #83 "Hdf5 based tables missing"
For the latest analyses the hdf5 based tables seem to be missing, but there are only the csv based ones. Is it on purpose?

[2020-05-03 07:58] constantinpape commented on #83
@imagirom always ran analysis with the more stable master version of the analysis; and I only merged #51, which writes the hdf5 tables yesterday evening.
So yes, this is expected. I will try to rerun everything with the newer version at EMBL today.

[2020-05-03 07:58] #83 closed

[2020-05-03 08:01] constantinpape commented on #82
Ok, weird.
We don't write the csv tables any more, and I don't think this can happen in the new hdf5 tables (there are several checks that number of columns and column names agree), but I will leave this open until we checked.

[2020-05-03 08:40] constantinpape commented on #76
I have been thinking about evaluating different parts of the pipeline for the manuscript and here is what I have been thinking we should do so far:
1. Measure the segmentation accuracy (prob. via AP) either using cross-validation or some hold out ground-truth images (@lorenzocerrone @wolny and me are working on some more gt images, so we should have enough to do this by middle of next week).
2. Me

[2020-05-03 09:41] constantinpape opened #84 "How do we handle different analysis results in same folder?"
In #51 @imagirom has updated the pipeline s.t. results for different versions of the analysis (e.g.  from running segmentation or intensity accumulation on different channels), can be stored in the same image h5 file.

However for the hdf5 file that holds the image and well table, he is writing different files per analysis result with a different identifier in the name now.

We should discuss if w

[2020-05-03 10:32] akreshuk commented on #76
@tischi , background subtraction is a nasty thing indeed, but how would it affect the automatic and manual measurements differently? But you are completely right to point out multiple sources of error, it looks like there are several pieces in this experiment that affect the final error rate estimate, and we should eventually isolate and estimate the influence of all of them if we want to produce

[2020-05-03 13:03] wolny commented on #84
From the DB point of view it doesn't really matter: having different files per analysis, or nesting analysis results withing a single file will result in the same document stored in DB (in terms of schema), only the way we create this document (i.e. from single or multiple files) will be different.

Let's focus the discussion on how we deal with it in the viewer.

[2020-05-03 13:48] constantinpape commented on #64
I am implementing the heuristic qc now in #85 and I am almost done with it for the per cell level.
One more thing about this though:
In addition to a maximum size, we should also have a minimum size. The implementation is trivial.
@tischi @metavibor can you estimate a good value for this from the data?

[2020-05-03 14:01] wolny opened #86 "Populate all DB collections from `DbResultWriter`"
Right now we have an initial migration script, which only migrates the plates metadata and the `DbResultWriter` job which populates the analysis results.
The problem is that we don't populate the plates metadata collection from `DbResultWriter`, so this collection will get out of sync as we keep adding new plates.
Simple solution: remove the initial migration script and move its functionality (wri

[2020-05-03 14:02] #58 closed

[2020-05-03 14:09] imagirom commented on #75
@tischi Ok, for now I will add cell_size_median_infected and cell_size_median_control to image and well tables. Is that way fine or do you really want me to duplicate the per-well information in the per-image table?

[2020-05-03 14:56] imagirom commented on #75
Implemented in dce1d1dbdc90d4d45dfad3b16186b0837bb05c88.

[2020-05-03 15:59] constantinpape commented on #75
That's the way it should be; the image table should not contain duplicate per will information.

[2020-05-03 16:30] #86 closed

[2020-05-03 16:41] wolny opened #89 "Integrate PlateViewer with the DB"
Implement the following functionalities:
1. Setting QC flag on the image/well/plate and saving it into db.
2. Saving/Loading the manual assessment of the well to/from DB. Vibor will provide us with labels which 'likely positive'/'likely negative' for the wells, and we can use the plate viewer to load the plate, right-click on the well and choose 'definitely positive'/'definitely negative'.
3. When

[2020-05-03 17:56] constantinpape commented on #68
Ok, I had a look into this now, and I am a bit confused. In our channel mappings we never have IgM.
Anyway, this is what we have right now `'serum'` means we haven't specified wether it's IgG or IgA):
[code]
@metavibor could you fill in which type it is for the ones where we only have `'serum'` and check that it's correct for the others? Sorry for the inconvenience.

[2020-05-03 19:27] tischi commented on #84
Can we discuss this during some zoom meeting on Monday?

[2020-05-03 19:28] tischi commented on #75
agreed!

[2020-05-03 19:30] tischi commented on #89
ok, we could work on it tomorrow together. do you have time?

[2020-05-03 19:51] metavibor commented on #68
@constantinpape you did not have a full plate with IgM yet (there have been a few wells where I tested different antibodies), the first plate with IgM was done yesterday and I will upload it tomorrow.
I will look up the missing info now

[2020-05-03 20:35] metavibor commented on #64
@constantinpape @tischi I did some measurements and 1000 seems like a good minimal threshold, I have measured a few cells smaller than this (when they get squeezed between other cells they can get quite small) but those are difficult to segment and I don't mind if we threshold them out

[2020-05-03 21:11] metavibor commented on #68
@constantinpape
20200406_164555_328 : ['serum IgG']
20200406_210102_953 : ['serum IgG']
20200406_222205_911 : ['serum IgG']
20200410_145132_254 : ['serum IgG']
20200410_172801_461 : ['serum IgA']
20200415_150710_683 : ['serum IgA'] column 1-6 ['serum IgG'] column 7-12
20200417_132123_311 : ['serum_IgG', 'serum_IgA']
20200417_152052_943 : ['serum_IgG', 'serum_IgA']
20200417_172611_193 : ['serum_IgG

[2020-05-04 00:33] wolny commented on #89
tomorrow would work for me only in the in the evening unfortunately, but I've created a quick API for you already: https://github.com/embl-cba/fiji-plugin-plateViewer/pull/27 :)

[2020-05-04 06:53] tischi commented on #89
ok. I can try it out. thanks!
Is the DB up and running?
Do I have to be in EMBL intranet?

[2020-05-04 08:20] constantinpape commented on #89
I just talked to @wolny and we have a preliminary version up and running.
I will try to create a DB entry for one of the plates later and let you know when it's there.

[2020-05-04 08:21] constantinpape commented on #82
I think this is solved.

[2020-05-04 08:21] #82 closed

[2020-05-04 08:22] wolny commented on #89
Hey @tischi,

yes, I've setup a trial DB at EMBL, here's the info:
[code]
I'll send you the password on slack.

yes, you need to be inside the EMBL VPN, so that you can reach `vm-kreshuk08.embl.de` VM.

[2020-05-04 08:22] #75 closed

[2020-05-04 08:23] wolny commented on #89
@tischi, @constantinpape will run an analysis workflow on a sample plates to populate the DB, so that  you could test it (like he said already)

[2020-05-04 08:26] constantinpape commented on #64
I have started to implement the heuristic image level QC in #90 using the following heuristics:
- minimal number of cells
- minimal number of control cells
- negative ratios

However, I realized that all these can be computed on Well level, so I think it makes more sense to move those there.
@imagirom @tischi @metavibor
So I have a couple of questions about this:
- Would you rather have `min_numbe

[2020-05-04 08:31] constantinpape commented on #68
Thanks @metavibor. I will update our channel mappings based on this now.

[2020-05-04 08:53] constantinpape commented on #68
Does that mean that some of the wells have IgA, some have IgG?
If that's so, we cannot really deal with this yet.
How common is this, should we adapt our code to make it work for this case?

[2020-05-04 09:01] metavibor commented on #68
yes that is correct but that is the case only for that plate and occasional well in other plates... this will not happen on any new plates... don't bother adapting the code for this isolated case. Just use "IgG" labelling in this case and I will make a note of this so later we know this plate is a special case

[2020-05-04 09:17] constantinpape commented on #68
Thanks for the clarification.
I have updated the channel mappings now and also made a note about the plate with mixed IgG/IgA.

[2020-05-04 09:17] #68 closed

[2020-05-04 09:22] metavibor commented on #64
We still need good values for the min numbers.
Are there any other criteria you want on well level?
For now we wouldn't have any heurisitic on image level. This is fine, but if you can think of something else there I can implement it.

not sure about any of this. I don't have a good feeling about the data output and how many control cells are we typically dealing with. We need to look at some case

[2020-05-04 10:26] tischi commented on #89
@wolny
seems to work.

1. However your demo code crashes. I guess because the "test-cell-analysis" plate is not there?
2. I am not sure about the name of this function `getManualAssessment()`, we should clarify with Vibor what this really is. In my code I just called it `getAnnotation()`

[2020-05-04 10:31] tischi commented on #64
I agree with @metavibor we have to look at the data first before we can decide...

I would start with having both:
- `min_number_of_control_cells` and put this to `5` for now.
- `min_fraction_of_control_cells` and put this to `0.05` (5 %) for now.

[2020-05-04 10:33] constantinpape commented on #64
Yes, I definitely agree, we need to derive these values from the data / looking at it.
I will start with your suggestions and then we can refine this over time.

Also let me know if you have any more thoughts on image level qc.

Thanks!

[2020-05-04 10:40] tischi commented on #64
@constantinpape

1. Above should be well level QCs, right?
2. On the image level we usually (a) compute a focus quality score and (b) try to detect whether there was some large debris and (c) require a `min_num_cells`, let's start with `10`. The reasoning for (c) is that usually if there are to few cells they are `not happy` and their biological response to all kind of things could change.

[2020-05-04 11:05] constantinpape commented on #64
Yes.

Ok, sounds reasonable, but we would need to figure out how to compute this here (from python).

Ok, makes sense I will add min and max num cells to the image qc and set it to the values you propose in the beginning.

[2020-05-04 11:55] wolny commented on #89
@tischi
1. yes sure :) we need to  use the plates which were added when @constantinpape run the analysis today; as of now we have: `titration_plate_20200403_154849` and `20200410_172801_461` in there
2. I'm totally fine with calling it `getAnnotation()`; the field in db is called `manual_assessment`, but I can change it to `annotation` in the next version of the schema

don't be afraid to break st

[2020-05-04 14:09] tischi opened #91 "Analysis columns visibility"
@imagirom @constantinpape

I would propose to, for now:

1. **only show** `q0.5` based measurements (_not show_ other  `q0.*` based ones)
2. do _not show_ `mean_of_*` but **only show** `q0.5_of_*` based columns

What do you think?

[2020-05-04 14:20] tischi commented on #89
@wolny @constantinpape
Based on the recent zoom meeting I think the DB should:
1. Setting QC flag on the image/well/plate and saving it into db (read/write).
1. Loading a patient `cohort_id` from DB (read only). Vibor will provide us with these IDs.
1. When creating an issue for a given image/well/plate, we should also make a call to the DB to reflect this fact (read/write).

Note that the second

[2020-05-04 15:55] metavibor commented on #89
I think having something like "sample_id" will be useful, for example for longitudinal studies we will have the same person but serum collected on different days... Than "sample_id" can be changed to reflect that...in "cohort_id" is already the info which allows tracing back the patient

[2020-05-04 16:08] tischi commented on #89
This I do not get, I thought we will have different people belonging to the same cohort?

[2020-05-04 16:18] tischi commented on #89
...@metavibor, in other words: what we need in the database is a column, where there is information what score we should expect, e.g. `positive_pcr` or `before_2018`. This does not have to be called like this explicitly.  Anyway, I was thinking that on one plate _several wells_ should be expected  to have the _same_ score, because they come from the _same_ "type" of person.

[2020-05-04 17:36] metavibor commented on #89
"cohort id" goes something like this "P35", P means "plasma donor cohort" and 35 is the number of the person.

[2020-05-04 17:37] metavibor commented on #89
on plates 1 and 2 half of the plate is filled with PCR positive samples and other half is pre2020 samples

[2020-05-04 18:03] tischi commented on #89
@metavibor
So if we split off the letter (e.g., **P**) from the number (e.g., 35) we have what in a normal biological assay would correspond to the **treatment**, i.e. (**treatment** = **P**)?!

[2020-05-04 21:26] constantinpape commented on #91
Sounds reasonable to me. If @imagirom agrees, I can implement it.

[2020-05-04 21:33] imagirom commented on #91
@constantinpape Yes, sounds good to me as well. If we do want to look at it at some point, we can just change the viewer settings in the h5, right?

[2020-05-04 21:35] constantinpape commented on #91
Ok, I will change it tomorrow.

Yes.
Also, in the long run it would be nice to be able to change it in the viewer, but that doesn't have high priority...

[2020-05-05 08:44] constantinpape commented on #84
We discussed this via zoom now and came to the following conclusion:
- everything should be in a single table file
- the different analysis results are then in separate table keys in that file
- after everything went through, we merge the relevant results into single tables `images/default` and `wells/default`.

@imagirom can you take care of adapting the table saving logic?
I can work on the tabl

[2020-05-05 08:57] imagirom commented on #84
@constantinpape Yes, I can implement the saving of tables in a single file.
For the merging, I think as long as we only want to do it in the multiple serum channel setting, we might be able to get away with simply replacing `serum` by `serum_IgA` etc.

[2020-05-05 09:49] wolny commented on #84
Ok, so after merging the table structure will be the same, so in theory there is no need to change the DB job. But please let me know when this is done and I'll test the DB integration.

[2020-05-05 09:52] constantinpape commented on #84
@wolny yes, will do

[2020-05-05 10:00] tischi commented on #84
You could even replace `serum` just with, e.g., `IgA` to be more concise.

[2020-05-05 10:10] metavibor commented on #89
@tischi yes, you can look at it that way if it helps

[2020-05-05 12:27] constantinpape commented on #84
@imagirom has implemented his part in #92 now, I will do the table merging later.

[2020-05-06 07:35] tischi commented on #76
I am starting to look at the two plates that we would like to publish...
Pasting some initial plots here, probably @imagirom and @Steffen-Wolf could do this more systematically in python.

### Plate 943: Good agreement between ratio of sums and ratio of means

The white lines are `y = n * x`
The dots are very close to the `y = 1 * x` line.

![image](https://user-images.githubusercontent.com/215756

[2020-05-06 09:04] imagirom commented on #76
@tischi Very interesting! Quick disclaimer: In the current version all scores are computed with the nuclei filtered out. There is an option to use the nuclei, but that affects the mean as well.

[2020-05-06 09:12] tischi commented on #76
@imagirom

What about this:
- for the **sum** score we leave the nuclei **in**, and
- for the **mean** score we leave them **out** ?!

I think biologically and from a microscopy point of view this makes sense and we do not have to have too many version of everything.

@metavibor , ok?!

[2020-05-06 09:28] metavibor commented on #76
@tischi @imagirom
ok - for "sum" nucleus should be in, for "mean" it should be out

[2020-05-06 09:39] Steffen-Wolf commented on #76
Hi @tischi ,

thank you for your analysis. With regards to the `dos`:

First, let me say that the ratio seems like the most intuitive metric to use and the one we "should" use.

I proposed the `dos` because it has two properties that make it more robust than the ratio.
1) as you said we are unlikely to divide by zero in the `dos`
2) The difference automatically removes the (constant) background il

[2020-05-06 09:47] constantinpape commented on #64
Ok, I have implemented this in #90 now. The current settings for the parameters used in the heuristics are here:
https://github.com/hci-unihd/batchlib/blob/master/batchlib/analysis/cell_analysis_qc.py#L9-L22
What's left to do is to properly get the values for these parameters from the data.

[2020-05-06 12:23] tischi commented on #76
@Steffen-Wolf

I still find the `dos` interesting because of (1), because the control cells really could get very dim. However I am not sure (2) is correct, because the background shows up in the denominator and thus would still influence the score.

[2020-05-06 15:26] constantinpape commented on #91
I am solving this in #95 now by only keeping certain columns in the summary table.
This is implemented here:
https://github.com/hci-unihd/batchlib/blob/merge-tables/batchlib/analysis/merge_tables.py#L40-L56
I will expose this as parameters with reasonable defaults later.
@tischi do you also want to keep the z-score or only the median? Something else?

[2020-05-06 15:28] constantinpape commented on #84
Implementing the table merging in #95.
@tischi I haven't done any of the renaming yet, but this is refactored into functions:
https://github.com/hci-unihd/batchlib/blob/merge-tables/batchlib/analysis/merge_tables.py#L58-L63
I will compute a test output with the current version now and then we can look into how we rename columns later.

[2020-05-06 15:57] tischi commented on #91
1. I think z-score should stay, could be interesting.
1. What about `site_name` and `well_name`? They are essential.

Otherwise looks fine.

[2020-05-06 16:55] constantinpape commented on #91
Ok, I will keep it.

Oh yeah, I think I dropped those now ....
Will fix it later!

[2020-05-06 18:16] constantinpape opened #96 "Division by zero error"
I think the issue is that `n_cells=0` because all were marked as outliers. @imagirom, can we wrap this into the `nan_on_exception` you implemented?
[code]

[2020-05-06 18:28] imagirom commented on #96
Yes, `nan_on_exception(lambda: stat_dict['n_infected'] / stat_dict['n_cells'])()` should do the trick. Not sure if this is the best style..

[2020-05-06 18:33] imagirom commented on #96
Should I fix it or would it be easiest for you to just replace the line?

[2020-05-06 18:43] constantinpape commented on #96
Yes, I will do it!

[2020-05-06 19:35] constantinpape commented on #96
Implemented as part of #95 and it works.

[2020-05-06 19:35] #96 closed

[2020-05-06 19:35] constantinpape commented on #96
Thanks @imagirom

[2020-05-06 19:49] constantinpape commented on #91
Ok, I am keeping the z-score now and also site and well name.
@tischi here is the newest version:
`/g/kreshuk/data/covid/sandbox/merged_table/plateK12rep1_20200430_155932_313`

[2020-05-06 19:50] constantinpape commented on #91
@tischi
Could you check if you want any other changes to the names or the visible columns?
Here is the newest version:
`/g/kreshuk/data/covid/sandbox/merged_table/plateK12rep1_20200430_155932_313`

[2020-05-06 20:10] constantinpape opened #97 "Pass plate_background as argument"
We should implement passing the `plate_background` as argument.
Default should be `None`, which means it should be computed.

The rationale is that there are some plates with so dense cells that it might not be possible to determine the correct background, so it's better to take the median plate background from other plates.

There might be other parameters where we should do the same, I think you

[2020-05-07 07:11] tischi commented on #91
@constantinpape
Let's just leave it as is for now. We anyway need to solve this differently, i.e. make columns selectable from the viewer.

[2020-05-07 07:17] constantinpape commented on #91
Sounds good. Gonna close this for now then.

[2020-05-07 07:17] #91 closed

[2020-05-07 14:10] constantinpape opened #98 "Keep track of all analysis pipeline parameter"
We should keep track of all parameters that were used to run a given experiment, e.g. QC parameter, thresholds, etc.
These should go into:
- the logs
- the hdf5 (probably into an extra table)
- the database

On the implementation side, I would gather all into a subgroup of the configparser `parameter`,
so that we can easily dump all this into the logs / tables.

[2020-05-07 14:10] constantinpape commented on #98
cc @imagirom @tischi @wolny

[2020-05-07 19:53] imagirom commented on #67
I have now finally figured out what was going on; It was indeed a local problem.

[2020-05-07 20:53] constantinpape commented on #98
Will be implemented in #99

[2020-05-07 20:54] constantinpape commented on #84
Implemented in #95

[2020-05-07 20:54] #84 closed

[2020-05-07 20:55] constantinpape commented on #72
@Steffen-Wolf @imagirom is this fixed now in fdfbf3cdccf40edd800186ddab351889b455791d?

[2020-05-07 21:05] imagirom commented on #72
Yes, that should be the case

[2020-05-07 21:05] #72 closed

[2020-05-08 07:27] tischi opened #100 "Improve flat-field correction"
@metavibor @imagirom

1. I think there is a technical reason why taking the plate mean of the signal may be better than the Chroma slide. The point is that the signal from the sample comes from a relatively thin slice in 3D whereas the Chroma slide is very thick and may thus not give the same profile (one would have to think more about it, but I think that was a point. I could investigate more...)

[2020-05-08 08:25] tischi commented on #100
@imagirom @constantinpape @metavibor
Yes, high priority but I think we should **_first_** rerun the analysis without touching the flatfield and just subtracting a fixed background value of 1400 (see Slack) to have some consistent data to work with. My feeling is that, even though it will be good to have an optimal flat-field correction that this should not change the final scores as much...

[2020-05-08 08:47] tischi commented on #100
It seems like that there is a flaw in this thinking (or I made a mistake in below calculations). But looks like _by definition_ the average corrected signal will always be flat, no matter what we chose as an offset?!

![IMG_1775](https://user-images.githubusercontent.com/2157566/81388529-b4654600-9118-11ea-8809-9d9109b158f9.JPG)

[2020-05-08 09:12] constantinpape commented on #100
Makes sense, we should figure out which plates to rerun for this, but I will move this discussion to slack. (Just in general, I mark everything with `high priority` that should be done for the preprint.)

Yes, I agree we should not change too many things at once, especially if it's things that @imagirom has to do, because he clearly has the highest work-load for the project right now.

[2020-05-08 10:00] constantinpape commented on #98
@wolny once #99 is merged we can also have a look into how we write this to the DB.

[2020-05-08 10:03] imagirom commented on #100
You mean to compute the multiplicative part of the flatfield correction? I use the constant camera offset of 550.

I think this makes sense, but the contrast will not be constant over the image if we use an incorrect background value

Will do after finishing the PR for ignoring the BG of outliers and making it possible to just set a constant value. If you want to look at the Chroma slides now, the

[2020-05-08 10:05] constantinpape opened #101 "Improve runtime"
The runtime has increased quite a bi in the last few days. In order to check new results a bit faster, it would be good if we can speed it up a bit again.

I can see the following reasons / what we can do about it:
- We run the analysis twice for IgG and IgA now. I don't think there's much we can do about this, apart from optimising the analysis code a bit.
- The background computation got a bit m

[2020-05-08 10:18] imagirom commented on #101
Yeah, the median over all bg pixel values on the cpu is the expensive part here.

[2020-05-08 10:38] constantinpape commented on #101
Another thing I noted is that there are a couple of results that are always recomputed, even if everything should be there already. @imagirom have you set `force_recompute=True` somewhere?
Otherwise the validation is not working properly ...

[2020-05-08 13:03] constantinpape opened #102 "Cleanup"
Once we have a bit more time, some code clean-up is in order:

- [ ] grep TODOs, fix them and remove obsolete ones
- [ ] Refactor `cell_level_analysis` by moving `InstanceFeatureExtraction` and `ExtractBackground` to separate file
- [ ] Clean up class hierarchy `CellLevelAnalysisBase`, `CellLevelAnalysisBaseWithTable` (the hierarchy makes sense, but the top-level base class is too specific right n

[2020-05-08 13:29] imagirom commented on #101
Not knowingly, I will check in `cell_analyis.py`.

@constantinpape Could you later post the runtime of the individual jobs?

[2020-05-08 13:30] constantinpape commented on #101
Yes, I will add this more explicitly to the logs and then post a log.

[2020-05-08 15:44] tischi commented on #100
Yes, I think you are right, so mathematically we would also like to achieve something where `abs( c(x,y) - c(x+dx, y+dy))` is constant across the corrected image `c(x,y)`?! Or how would one express contrast? Anyway, probably getting carried away here.

[2020-05-08 16:17] imagirom commented on #100
I think the correct thing might be the following: Additionally to the per-pixel averages over all the images, we could also compute per-pixel variances. Then normalize in a way that makes this constant as well. Maybe `corrected(x, y) = (signal(x, y) - mean(x, y)) / variance(x, y)`.

[2020-05-08 16:34] imagirom commented on #100
I will be off for a few hours now, but here is a preliminary result: ratio of pixelwise average over images in plate 311 to current barrel corrector:
![image](https://user-images.githubusercontent.com/7648199/81426561-a84da880-9159-11ea-9ae3-7056b97d2d21.png)
I think we can definitively improve the barrel correction by going back to the averages over images.

[2020-05-08 20:02] tischi commented on #100
Good! As mentioned there also is a microscopy reason why this should be better. Only caveat of this method is that one needs enough images with dense enough cells to cover all pixels nicely, but I think we are in pretty good shape there.

[2020-05-08 21:31] constantinpape opened #104 "Improve reporting, plots and summary table"
Just making an issue with somewhat connected points so I can keep track of this:

**Improve reporting (=slackbot):**
- Try to use [slack block kit](https://api.slack.com/block-kit) to get a single message per result
- Use markdown to add some `quotes` for file paths etc
- Add the summary table to the post. I have tried csv, but slack doesn't render it properly, try excel.
- Add the commit id
- Cle

[2020-05-08 22:20] constantinpape commented on #98
@wolny I reassigned this to you, because the only thing left is writing this to the db.
The analysis params are stored in the table `plate/analysis_paramter`.

[2020-05-09 00:10] constantinpape commented on #104
Also, add a function that takes all the summaries, properly names the files, zips them and then posts them to `latest-results`, to have an easier way of downloading everything.

[2020-05-09 07:41] constantinpape commented on #104
Plots; fix range for color map.

[2020-05-09 08:07] tischi opened #105 "DB connection issue"
@wolny

I got below error for plate /g/kreshuk/data/covid/data-processed/**20200417_132123_311** (any ideas)?

[code]

[2020-05-09 08:09] tischi commented on #105
Maybe @constantinpape the server is down? Can we check this?

[2020-05-09 10:52] constantinpape commented on #105
Yeah, looks like it. Sorry I don't know how to check the DB issues.
We should add some more checks for this ...

[2020-05-10 08:25] tischi opened #106 "n_cells and n_valid_cells"
@imagirom @constantinpape
I usually have two columns `n_cells` and `n_valid_cells` (i.e. the ones that passed cell-based QC). The first contains all cells and is useful for image based QC (too many cells, i.e. overgrown). The latter is useful to see how many cells were actually entering the analysis. What do you think?

[2020-05-10 09:12] constantinpape commented on #106
We have this already, but I think it's just not copied into the default tables.
I will fix it later once you have pushed the new viewer version, so that I can double check this on my own.

[2020-05-10 09:20] constantinpape commented on #89
@wolny there is still a few things to be done to finish the DB integration:

- [ ] Migrate to the production DB
- [ ] Provide convenient python API so we can use the cohort information for evaluation
- [ ] Add the elisa information, see https://github.com/hci-unihd/batchlib/blob/master/misc/elisa/elisa_assay_results_202005008.xlsx
- [ ] Add the cohort information, see https://github.com/hci-unihd/

[2020-05-10 19:29] constantinpape commented on #101
Here are the runtimes for one of the recent plates:
[code]

[2020-05-10 19:30] constantinpape commented on #101
So stardist is still the clear bottleneck.

[2020-05-10 20:30] constantinpape commented on #106
@tischi  We will have `n_cells` and `n_outlier_cells` in the default tables soon. With `n_cells_total = n_cells + n_outlier_cells`.

[2020-05-10 20:34] wolny commented on #105
hey @tischi I can connect just fine to the development DB, are you sure you're on the VPN?

[2020-05-10 22:07] constantinpape commented on #106
Implemented in #107

[2020-05-10 22:07] #106 closed

[2020-05-10 22:08] constantinpape commented on #102
Removing `segmentation_on_corrected` etc was implemented in #107

[2020-05-10 22:10] constantinpape commented on #104
Improved default tables in #107.
Color map ranges in plots were fixed by @imagirom.
Slack summaries have also been implemented.

[2020-05-10 22:11] constantinpape commented on #97
This has been implemented.

[2020-05-10 22:11] #97 closed

[2020-05-10 23:44] wolny commented on #89
1. Dev db has been migrated into the prod, we just need to make the switch in the batchlib config (see: https://github.com/hci-unihd/batchlib/pull/108). I'd recommend to have two config files one for dev and one for prod. Testing PRs etc. should be done with dev config and running the analysis on the new plates should be done on the prod db.
2. This was done already (see: https://github.com/hci-un

[2020-05-10 23:54] wolny commented on #98
Thanks for info @constantinpape. If this is another table, then it's already stored in the db (db job parses all the tables and adds it to the results document). However we might want to treat this object differently and pull it as a top level attribute in the results document. I'll make a draft PR to discuss this.

[2020-05-11 00:17] wolny commented on #98
Yes, I've double checked: it's already stored in the DB, e.g. for plate `plateT3rep1_20200509_152617_891`:
[code]
however IMO it doesn't belong there and should be saved as a top level attribute of the result object.

[2020-05-11 06:32] tischi commented on #89
Could be, sometimes my internet in general becomes super slow and I need to restart everything, computer, router, ...
I do not understand what happens there.

[2020-05-11 07:47] wolny commented on #89
Initially I thought it might be because of the document size: our result docs are quite bulky now, e.g. if you run:
[code]
the resulting JSON is 18MB. But then again even if your internet is very slow it shouldn't be `SocketTimeoutException` cause you're connection is working but is very slow.

[2020-05-11 08:16] #98 closed

[2020-05-11 15:33] wolny opened #113 "Cannot report issue from the Plate Viewer"
I'm using the latest version of the plugin, generated my dedicated github access token, but when trying to create an issue for a given image I get '404 Not Found'.
![Screenshot from 2020-05-11 17-29-27](https://user-images.githubusercontent.com/706781/81580260-82b8dd00-93ad-11ea-9573-f6494589ed07.png)

[2020-05-11 16:15] tischi commented on #113
Not sure...
Maybe something wrong with your token?

"Typically, we send a 404 error when your client isn't properly authenticated. "

You could post your token in Slack and then I could test.

[2020-05-11 16:21] wolny commented on #105
hey @tischi, is this a recurring issue or can we close this now?

[2020-05-11 16:27] wolny commented on #113
So I tried with a random token as well, then it's correctly 401 Not Authenticated. I'll share the token with you. Thx

[2020-05-11 18:26] imagirom commented on #100
Ok, I updated the barrel correction, now its using the average of all non-outlier images per channel.

[2020-05-12 07:09] tischi commented on #113
[code]

1. Did you check all of those guys?
![image](https://user-images.githubusercontent.com/2157566/81649175-306cd000-9430-11ea-830e-852e16644445.png)

2. @constantinpape does @wolny have the same rights on the antibody-isssues repo as I?

[2020-05-12 07:34] tischi commented on #105
seems to work again.

[2020-05-12 07:34] #105 closed

[2020-05-12 07:36] tischi opened #116 "patient_type missing in DB for some plates"
@wolny @constantinpape

1. I guess I cannot assume that the `patient_type` column exists for all plates?!

![image](https://user-images.githubusercontent.com/2157566/81652341-e1289e80-9433-11ea-8b18-19e222b7b646.png)

[2020-05-12 07:42] wolny commented on #116
Hey @tischi, yes `patient_type` is present only in those wells which were marked in the excels by Vibor. Those are not are.

[2020-05-12 08:33] #116 closed

[2020-05-12 09:10] constantinpape commented on #113
![Screenshot from 2020-05-12 11-09-28](https://user-images.githubusercontent.com/4263537/81665535-1b4c6d00-9441-11ea-8630-6c36211b8a48.png)

@wolny should be a member of the ial team, so he should have even more permissions than you.

[2020-05-12 09:55] wolny commented on #113
Hey @tischi, it's all good now. It seems to be a problem with my access token. Cheers!

[2020-05-12 09:55] #113 closed

[2020-05-12 21:41] tischi commented on #100
@imagirom
Looks much better!
In H01 well (I just looked in one plate) it looks like one could still correct a bit more.
As said, I am confused by my own calculations above, but my intuition is that choosing a value higher than 550 for the offset should increase the correction strength.

1. If you are motivated you could try for which offset value you get the best results in well H01.
2. Also, I re

[2020-05-13 07:16] tischi commented on #76
@metavibor @imagirom @constantinpape
I started exploring whether sum or mean based scores could be better. One idea I had was to see how variable either of the scores is among the cell population. To this end, I computed robust versions of the coefficient of variation (sdev / mean -> mad / median, https://en.wikipedia.org/wiki/Coefficient_of_variation ):

[code]
   plate_name

[2020-05-13 09:54] imagirom commented on #100
Thanks for the references @tischi. I will have a look.

[2020-05-13 15:56] constantinpape commented on #76
We all agreed now to keep with the mean score for now, Tischi's measurement of the distribution spread provide a good argument. I will still leave this open for the time being, it's a nice discussion issue :)

[2020-05-13 18:23] tischi commented on #76
@imagirom @metavibor @constantinpape

I had another idea for the z-score. Since the intensity in the infected cells appears to be quite variable (see e.g. here https://github.com/hci-unihd/antibodies-analysis-issues/issues/80) and also since we have much more infected cells than controls, maybe the better way to compute the z-score could be:
[code]
The difference being that we divide by `mad( infe

[2020-05-14 16:09] constantinpape commented on #64
Closing this in favor of a new issue.

[2020-05-14 16:11] #64 closed

[2020-05-14 16:18] constantinpape opened #125 "Finalize QC"
I just discussed with @tischi: we should finalize the values for the QC that is currently implemented:
- cell sizes: for this, @tischi will plot histograms for a large enough samples of cells; we try to estimate a threshold based on this, but will double check if it makes sense by exporting masks that show all cells that would break it and then see how these cells actually look.
- nucleus sizes: a

[2020-05-14 16:19] constantinpape commented on #100
We decided to leave this as is for the pre-print, the current version looks good.

[2020-05-14 16:35] constantinpape opened #126 "Use H1 wells to estimate background; use this for image level QC"
@tischi and me discussed how to make use of the H1 well without serum signal now:
- Use strongly dilated nuclei to compute a background mask on the H1 well (by inverted the dilated nuclei mask)
- Can we use this to estimate the background to be subtracted?
- In addition, we can use the background estimate for Image level qc to exclude very dim images:
  measure the median intensity per cell (using

[2020-05-14 17:20] imagirom commented on #126
I only compute median and MAD of the background. The column names in the background tables are `{channel}_median` and `{channel}_mad` respectively.

[2020-05-14 20:14] metavibor commented on #125
I would go the same way as you described above. Lets plot histograms of control cell numbers per well and see what is the lowest number we get and than check those wells and the values we get in them to see if something is weird... that should give us a clue of the good value there

[2020-05-14 20:19] constantinpape commented on #126
@tischi all the tables have been exported to `/g/kreshuk/data/data-processed/...` now.

For each folder there are the following tables:

**Well and image tables**:
`<plate-name>_well_table.xlsx`
`<plate-name>_image_table.xlsx`

**Cell tables (for all individual channels)**
`<plate-name>_cell_table_<channel_name>.xlsx`

**Tables with infected / control classification**
`<plate-name>_cell_table_infe

[2020-05-14 20:21] constantinpape commented on #125
Ok, sounds good.
@tischi you should have all the information for this in the tables.

[2020-05-15 07:55] tischi commented on #125
I'll be making one issue per QC in the antibody-issues repo and post the plots there.
I also made a new issue tag "quality control" for this.

[2020-05-15 08:00] tischi opened #127 "Table naming pattern"
@constantinpape
Sorry, small thing, but for next run, could you maybe change this:
[code]

to
[code]

would be more consistent naming scheme and a bit easier to parse.
that is:

[code]

[2020-05-15 08:07] constantinpape commented on #127
Yes, makes a lot of sense.

[2020-05-15 08:55] tischi commented on #125
@metavibor @constantinpape
ok, I think I did what I can do for now without discussing with you guys:
- https://github.com/hci-unihd/antibodies-analysis-issues/issues/82
- https://github.com/hci-unihd/antibodies-analysis-issues/issues/81

[2020-05-15 09:13] tischi opened #128 "Cell tables: add cell anchor"
@constantinpape
Since we are also now looking at single cell stuff, I think it would be very useful to have `anchor_x` and `anchor_y` coordinates in the cell tables (both in the hdf5 and the excel tables).
Would that be possible to add?

[2020-05-15 09:34] constantinpape commented on #128
Sure, no problem. Will add it in the next run.

[2020-05-15 09:48] imagirom commented on #126
I have started experimenting with extracting the background from the H1 well, here are results using the 10% of pixels furthest away from the nuclei for estimation. The first column is the mean of per-image medians, the second column the standard deviation of those means.
Note that some of the plates do have serum staining in the H1 well, in particular the Kinder plates K15rep1, K16rep1.
[code]

!

[2020-05-15 18:38] constantinpape opened #131 "Make networks more robust against localized artifacts"
Currently both the network used for the nucleus segmentation as well as boundary and foreground prediction are not robust against localized image artifact.
See  https://github.com/hci-unihd/antibodies-analysis-issues/issues/82#issuecomment-629273517 for some examples.

I think this is because these artifacts alter the image statistics and mess up the normalization.
We should use a more robust norm

[2020-05-16 10:58] constantinpape commented on #127
Implemented in #130. Gonna close once it's merged.

[2020-05-16 11:00] constantinpape commented on #128
@tischi this is pretty easy to implement.
In the h5 tables, I will just have another table for the cell segmentation called `properties`
which contains cell sizes, anchors and could be extended with other, intensity independent, attributes.

Would you also want this to be exported to the excel tables I produce for you?
In there, I would probably not export an extra table, but just add it to the ce

[2020-05-16 11:15] constantinpape commented on #102
Refactors are part of #130.
After that, only need to clean up TODOs and FIXMEs

[2020-05-16 11:17] constantinpape commented on #89
I think most of the things discussed in this issue are implemented.
I will close it. Let's make separate issues for other problems with the DB.

[2020-05-16 11:17] #89 closed

[2020-05-16 11:22] constantinpape opened #132 "Finalize exporting of score table"
We need to export a final clean excel table with results from our analysis and cohort ids + elisa results.
This is already implemented here: https://github.com/hci-unihd/batchlib/blob/master/batchlib/reporting/export_tables.py#L197

However, we still need to fix the following things:
- [x] Filter score names properly
- [x] Rename scores to be more succinct
- [x] Fix how the data from the DB is rea

[2020-05-16 11:38] tischi commented on #128
which contains cell sizes, anchors and could be extended with other, intensity independent, attributes.

makes sense

In there, I would probably not export an extra table, but just add it to the cell tables that are already exported. What do you think?

Just one table is much easier for me. In fact, also in the hdf5 just having one table would be more convenient, I think.

[2020-05-16 11:41] constantinpape commented on #128
In the hdf5 that is not a good idea due to the way we compute these things; this should all stay modular!

For the export, no problem.

[2020-05-17 23:01] #127 closed

[2020-05-17 23:05] constantinpape commented on #126
Background estimation from the min well has been implemented in #130. We need to verify that it finds Well H1 for the plates where this is the empty well.

There is also a task for computing the dilated nuclei for the intensity measurement, but the QC itself is not implemented yet.
For this, I need to export tables once this is run through for all plates.

[2020-05-17 23:06] constantinpape commented on #128
Implemented in #130, but I still need to add it to the excel tables, will do tomorrow.

[2020-05-18 09:04] constantinpape commented on #131
Ok, I briefly discussed this with @wolny and for now, we think the best solution would be to
determine the normalization parameters over the whole plate (excluding manual outliers!) in a first pass.
For this, we should use robust estimators, so median and mad instead of mean and std or quantiles instead of min/max.

[2020-05-18 12:18] constantinpape commented on #104
This has all been taken care of now.

[2020-05-18 12:18] #104 closed

[2020-05-18 20:27] wolny commented on #132
This has been fixed today

tackled in https://github.com/hci-unihd/batchlib/pull/133

[2020-05-19 20:03] constantinpape commented on #132
Should all be fixed now.

[2020-05-19 20:03] #132 closed

[2020-05-19 20:05] constantinpape commented on #126
It turns out that this was more complicated than we thought:
Getting a reliable background estimate that works for normal and empty (= images without serum) images is not trivial, because growing from the nuclei sufficiently to cover all foreground leaves no background for plates with very dense cells.
For now, we just use the information about the empty wells if available and otherwise subtract a

[2020-05-19 20:05] #126 closed

[2020-05-19 20:08] constantinpape commented on #125
This is done now, here are the criteria we will use for the preprint:
[code]

[2020-05-19 20:08] #125 closed

[2020-05-21 22:02] constantinpape commented on #128
@tischi this is all implemented now; the new excel cell tables will have columns `anchor_x` and `anchor_y`.

[2020-05-21 22:02] #128 closed

[2020-05-21 22:03] #49 closed

[2020-05-22 06:43] constantinpape opened #136 "Prepare for proofreading effort"
A few things we should do to prepare for the proofreading effort:
- [ ] Make a separate repository for this based on [the napari plugin cookiecutter](https://github.com/napari/cookiecutter-napari-plugin); move our napari protoype there.
- [ ] Make a list of images for proofreading; [the list by Lorenzo](https://docs.google.com/spreadsheets/d/1ViUrAybiqCwmkRtbvLEhlRw7OGtfbGiXKyp0pc5tYzM/edit#gid=0)

[2020-05-22 09:45] constantinpape commented on #136
I have made a repo and added the data generated by the cookiecutter:
https://github.com/hci-unihd/covid-if-annotations

[2020-05-23 18:31] constantinpape commented on #136
Closing this, all the discussions about this are moved to the other repo.

[2020-05-23 18:31] #136 closed

[2020-06-03 13:16] constantinpape opened #142 "Adapt plot function to IgM; make sure that outliers are marked correctly"
There are two issues with the plot function for the new plates with IgM serum:
- We should use the same colormap as for IgG, so I copied it, see https://github.com/hci-unihd/batchlib/blob/master/batchlib/util/plate_visualizations.py#L347-L363. However it looks quite different, see plots below.
- It looks like the outlier marking does not work quite as expected; the outliers for IgG are also marked

[2020-06-03 13:21] imagirom commented on #142
Sure, I will look into it. The colormap that is used currently for IgM is the default one, so I suspect that the column name for IgM is somehow different in the table.

[2020-06-03 13:30] constantinpape commented on #142
Thanks!

Ok, maybe that also explains why the outlier matching goes wrong.

[2020-06-03 13:58] imagirom commented on #142
@constantinpape Regarding the outlier marking: I checked the result table of the plate you posted the plots of, and the markings seem to reflect what is in there: The columns `IgG_outlier_type` and `IgM_outlier_type` have identical values (as well as the corresponding `is_oulier` columns).
Hence I think this is either just correct or the Issue lies somewhere else..
(Disclaimer: I have not fixed th

[2020-06-03 14:03] constantinpape commented on #142
It's definitely not correct, but probably goes wrong when I copy this to the summary table.
I will check it out.

[2020-06-03 14:04] imagirom commented on #142
@constantinpape No, I think it is not an Issue in table merging. I just checked and the values of the `is_outlier` and `outlier_type` columns are already identical in the per serum tables at `tables/IgX`.

[2020-06-03 14:05] constantinpape commented on #142
That is weird, I just checked locally and the intensity outliers were not triggered for IgM.
In any case, I will have a look.

[2020-06-03 14:06] imagirom commented on #142
Ok.. maybe I am not looking at the right tables. Please tell me if you see something contradicting my observations.

[2020-06-03 20:40] constantinpape commented on #142
This should be fixed now. I will check it in the new results tomorrow and then close this.

[2020-06-04 20:05] #142 closed